@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jost: "Jost", sans-serif;
}

body {
  font-family: var(--font-jost);
}

@keyframes slideIn {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

.customer-review-section {
  background-image: url("https://demo-alukas.myshopify.com/cdn/shop/files/alk_bg_testi.jpg?v=1711954099");
  background-size: cover;
  background-position: center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.transition-transform {
  transition: transform 0.3s ease;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 2px solid #555;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: black;
  border: 2px solid black;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.sidebar::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color (light gray) */
  border-radius: 10px; /* Rounded corners */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #d3d3d3; /* Thumb color (light gray) */
  border-radius: 10px; /* Rounded corners */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9; /* Thumb color on hover */
}

/* Hide the scrollbar arrows (works in WebKit browsers) */
.sidebar::-webkit-scrollbar-button {
  display: none; /* Hide the top and bottom arrows */
}

/* Custom Scrollbar for Firefox */
.sidebar {
  scrollbar-width: thin; /* Options: auto, thin */
  scrollbar-color: #d3d3d3 #f1f1f1; /* Thumb color (light gray), Track color (light gray) */
}

/* Swiper Styles */
.shipping-swiper {
  padding-bottom: 40px;
}

.shipping-swiper .swiper-pagination {
  bottom: 0;
  margin-top: 20px;
}

.shipping-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #c6c6c6;
  opacity: 1;
  margin: 0 4px;
}

.shipping-swiper .swiper-pagination-bullet-active {
  background: #222222;
}
