@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jost: "Jost", sans-serif;
}

body {
  font-family: var(--font-jost);
}

@keyframes slideIn {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

.customer-review-section {
  background-image: url("https://demo-alukas.myshopify.com/cdn/shop/files/alk_bg_testi.jpg?v=1711954099");
  background-size: cover;
  background-position: center;
}
